/* Global */

html {
    box-sizing: border-box;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #262626;
    font-family: Georgia, serif;
    font-size: 1.2em;
    margin: 0 auto;
    width: 100%;
}

/*
#page-wrap {
    width: 80%;
    margin: 0 auto;
}
*/

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    text-transform: uppercase;
    margin-top: 10px;
}

h2, h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 ~ p {
    line-height: 2.0;
}

br {
    display: block;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.dark-bg {
    background-color: whitesmoke;
}

/* Section: Header & Title */

.logo {
    display: inline-block;
    margin: 1em 4em 0;
    min-width: 25%;
    padding: 1em 1em 0;
    word-wrap: break-word;
}

.logo img {
    display: block;
    height: 50px;
    width: 250px;
    margin: 0 2em;
}

.logo p {
    color: black;
}

.logo p,
.title p {
    font-size: 1.5em;
    margin-top: 0.8em;
}

.switch {
    display: block;
    text-align: right;
    padding: 0 2em 1em;
}

.switch a {
    color: #337CAC;
    text-decoration: none;
}

.swtich a:visited {
    color: #337CAC;
}

.switch a:hover {
    color: #262626;
}

.navigation-bar {
    border: solid white;
    background-color: #262626;
    display: block;
    float: right;
    margin-top: 2em;
    width: 50%;
}

.navigation-bar li {
    display: inline;
    float: left;
}

.navigation-bar li a {
    color: white;
    display: block;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
}

.navigation-bar li a:hover {
    background-color: black;
}

.title {
    background-image: linear-gradient(rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 0.4)), url(../images/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
/*    background-position: relative;*/
    background-attachment: fixed;
    min-height: 800px;
}

.title .text {
    text-align: right;
    padding-top: 2em;
    padding-right: 3em;
}

.title h1 {
    margin-bottom: 0;
    padding: 0;
}

/* Section: Question */

.question {
    text-align: center;
}

.question h2 {
    font-size: 2.5em;
}

.question a {
    text-decoration: none;
}

.choice-buttons {
    background-color: lightblue;
    border: solid 0;
    border-radius: 25px;
    color: #262626;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 1.2em;
    line-height: 1.5;
/*
    min-height: 300px;
    max-width: 30%;
*/
    height: 300px;
    width: 450px;
    margin: 1em;
    padding: 1empx;
    outline: none;
    transition: all 0.2s ease 0s;
    vertical-align: top;
}

.choice-buttons h3 {
    font-size: 1.3em;
}

.choice-buttons:hover {
    background-color: slategray;
    color: white;
    cursor: pointer;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.40), 0 40px 80px 0 rgba(0, 0, 0, 0.20);
}

/* Section: Information & Programs */

.information h2 {
    font-size: 2em;
}

.information p {
    font-size: 1.2em;
}

#about,
#newsletter,
#program-list,
#other-opps,
#directories {
/*    padding: 0px 50px 30px;*/
    padding: 0 5em 1em;
}

#about {
/*    border: solid;*/
    display: inline-block;
    text-align: left;
    float: left;
    width: 60%;
    height: 550px;
}

#about h2 {
    text-align: left;
}

#about p {
/*    border: solid;*/
    text-align: left;
}

#newsletter {
/*    border: solid;*/
    display: inline-block;
/*    float: left;*/
    width: 40%;
    height: 550px;
/*    padding-bottom: 50px;*/
}

#newsletter h2 {
    text-align: left;
}

#newsletter a {
/*    border: solid black;*/
    display: inline-block;
    text-align: left;
    text-decoration: none;
    outline: none;
    padding: 10px;
}

#newsletter img {
    border: 0 solid;
/*
    height: 50%;
    width: 60%;
*/
    height: 400px;
    object-fit: contain;
/*    min-height: 80%;*/
}

#newsletter a:hover img {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.40), 0 40px 80px 0 rgba(0,0,0,0.20);
}

#program-list {
    text-align: center;
}

#other-opps {
/*    border: solid;*/
    display: inline-block;
/*    position: relative;*/
    float: left;
    width: 60%;
    height: 500px;
}

#directories {
/*    border: solid;*/
    display: inline-block;
    width: 40%;
    height: 500px;
}


#directories ul {
/*    border: solid;*/
/*    display: inline-block;*/
    margin: 0;
    padding: 0;
}

#directories a {
    display: block;
    color: #337CAC;
    font-size: 1.2em;
    text-align: left;
    text-decoration: none;
    outline: none;
    padding: 10px;
}


#directories a:visited {
    color: #337CAC;
}

#directories a:hover {
    background-color: #F1F1F1;
    color: #262626;
}

#program-list .program {
    text-decoration: none;
}

.program-buttons {
    border: 0 solid;
    border-radius: 20px;
    position: relative;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 1.2em;
    height: 200px;
    width: 350px;
    outline: none;
    overflow: hidden;
    vertical-align: top;
}

.bg-image {
    border: 0 solid;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}

#program-1 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(../images/tutor-2.jpeg); 
}
#program-2 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(../images/tutor-4.jpg); 
}
#program-3 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../images/international-students.jpg); 
}
#program-4 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../images/garden.jpg); 
}
#program-5 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../images/tutor-1.jpg); 
}
#program-6 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../images/7.jpg); 
}
#program-7 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../images/vita.jpg); 
}

.program-buttons h3 {
    position: absolute;
    top: 0;
    left: 0;
    /* increase width of block element to fit the parent's width, then we can use text align center */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0.8em;
    /* h3 has default margins, preventing it from fitting the parent div .program-buttons in the first place */
    /* center h3 element in the middle of parent div */
    display:flex;
    align-items: center;
    justify-content: center;
}

.program-buttons:hover .bg-image {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.row-1 .program-buttons {
    margin: 25px 30px;
    padding: 10px;
}

.row-2 .program-buttons {
    margin: 25px 50px;
    padding: 10px;
}

.row-3 .program-buttons {
    margin: 25px 50px;
    padding: 10px;
}

/* Section: Footer */

.footer p {
    text-align: center;
}

.footer a:link {
    color: #337CAC;
}

.footer a:visited {
    color: #337CAC;
}

.footer a:hover {
    color: #262626;
}

/* Section: Slideshow */

.slideshow iframe {
    border: 0 solid;
    outline: none;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

/* Section: Clearances */

.clearances {
    padding: 0 30px;
}

.slideshow iframe:hover {
    border: 0 solid;
}

/* Section: Quiz */
.grid {
    border: 2px solid silver;
    border-radius: 50px;
    width: 70%;
    min-height: 500px;
    margin: 20px auto 50px;
    background-color: white;
    padding: 10px 50px 50px 50px;
    box-shadow: 0 20px 30px 0 rgba(0, 0 , 0 , 0.40);
    background-image: linear-gradient(rgb(255, 255, 255, 0.6), rgb(255, 255, 255, 0.7)), url(../images/laptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.grid h2 {
    background-color: rgba(38, 38, 38, 0.9);
/*    background-color: slategray;*/
    border-radius: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 10px 0px;
}

.grid #question {
/*    border: solid;*/
    text-align: center;
    font-family: Georgia, serif;
    font-size: 1.5em;
    color: #262626;
}

.prog-link {
    display: block;
    background-color: rgba(51, 124, 172, 0.8);
    color: white;
    font-size: 1.2em;
    text-align: left;
    text-decoration: none;
    outline: none;
    padding: 10px 30px;
    transition: all 0.2s ease 0s;
}


.prog-link:visited {
    color: white;
}

.prog-link:hover {
    background-color: rgba(38, 38, 38, 0.9);
}

#quiz h3 {
    font-size: 1.5em;
}

#answers button {
    border: 0 solid;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 30px;
    padding: 0px 60px;
    outline: none;
}

#btn0, #btn1, #btn2 {
/*    display: block;*/
    border: 0 solid;
    background-color: rgba(38, 38, 38, 0.9);
    border: 0 solid;
    border-radius: 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    width: 100%;
    height: 3em;
    margin: 0 auto;
    padding: 10px 10px;
    transition: all 0.2s ease 0s;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #262626;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#result {
    margin-bottom: 30px;
}

#back-btn,
#retake-btn {
    display: inline-block;
    background-color: rgba(38, 38, 38, 0.8);
    border: 0 solid;
    border-radius: 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
/*    font-family: Georgia, serif;*/
    font-size: 1em;
    padding: 20px;
    margin: 60px 0 0;
    outline: none;
}

#retake-btn {
    float: right;
}

#back-btn:hover,
#retake-btn:hover {
    cursor: pointer;
    background-color: #262626;
}

#back-btn:focus,
#retake-btn:focus {
    outline: 0;
}

#back-btn a,
#retake-btn a {
    color: white;
    text-decoration: none;
}


#progress {
    color: #2b2b2b;
    font-size: 1em;
}