/* Global */

html {
    box-sizing: border-box;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
/*     background: snow; */
    color: #262626;
    font-family: Georgia, serif;
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    font-family: "Open Sans", sans-serif;*/
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
}

h1 {
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    text-transform: uppercase;
    margin-top: 10px;
}

h2, h3 {
/*    font-family: 'Roboto', sans-serif;*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
}

br {
    display: block;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.dark-bg {
    background-color: whitesmoke;
}

/* Section: Header & Title */

.logo {
    display: inline-block;
    margin: 40px 30px 0;
    min-width: 25%;
    word-wrap: break-word;
}

.logo img {
    display: block;
    height: 50px;
    width: 250px;
    margin: 0 35px;
}

.logo p {
    color: black;
}

.logo p,
.title p {
    font-size: 1.5em;
    margin-top: 0.8em;
}

.navigation-bar {
    background-color: #262626;
    display: block;
    float: right;
    margin-top: 40px;
    width: 60%;
}

.navigation-bar li {
    display: inline;
    float: left;
}

.navigation-bar li a {
    color: white;
    display: block;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
}

.navigation-bar li a:hover {
    background-color: black;
}

.title {
    background-image: linear-gradient(rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)), url(../images/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
/*    background-position: relative;*/
    min-height: 800px;
}

.title .text {
    text-align: right;
    padding-top: 60px;
    padding-right: 30px;
}

.title h1 {
    margin-bottom: 0;
    padding: 0;
}

/* Section: Question */

.question h2 {
    font-size: 2.5em;
}

.question .choice {
    text-decoration: none;
}

.choice-buttons {
    background-color: lightblue;
    border: solid 0;
    border-radius: 15px;
    color: #262626;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 1.2em;
    line-height: 1.5;
    min-height: 300px;
    max-width: 30%;
    margin: 10px 20px;
    padding: 10px;
    outline: none;
    transition: all 0.2s ease 0s;
    vertical-align: top;
}

/*.choice-buttons.intro {
    background: url(../images/4-2.png);
    background-repeat: no-repeat;
    background-size: auto 300px;
}

.choice-buttons.quiz {
    background: url(../images/1-1.png);
    background-repeat: no-repeat;
    background-size: auto 300px;
}

.choice-buttons.forms {
    background: url(../images/laptop-3.png);
    background-repeat: no-repeat;
    background-size: auto 300px;
}*/

.choice-buttons:hover {
    background-color: slategray;
    color: white;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.40), 0 40px 80px 0 rgba(0,0,0,0.20);
}

/* Section: Information & Programs */

/* How to set up col-wide and col-narrow? Working with columns? */
/*
#description-1,
#programs {
    border: solid;
    display: inline-block;
    float: left;
    height: auto;
    min-height: 250px;
    width: 50%;
    margin-bottom: 20px;
    padding-right: 10px;
}
*/

.information h2 {
    font-size: 2em;
}

.information p {
    font-size: 1.2em;
}

#description-1 {
/*    border: solid;*/
    display: inline-block;
/*    position: relative;*/
    float: left;
    width: 60%;
    height: 550px;
}

#newsletter {
    display: inline-block;
/*    float: left;*/
    width: 40%;
    height: 550px;
/*    padding-bottom: 50px;*/
}

#newsletter a {
    text-decoration: none;
}

#newsletter img {
    border: 0 solid;
    min-width: 70%;
    min-height: 80%;
    margin: 0;
}

#newsletter a:hover img {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.40), 0 40px 80px 0 rgba(0,0,0,0.20);
}

/* LEFT OFF HERE! */

#other-opps {
    display: inline-block;
    height: auto;
}

#description-1,
#newsletter,
#program-list,
#other-opps {
    padding: 0px 50px 30px;
    text-align: center;
}

#program-list .program {
    text-decoration: none;
}

/*
.program-buttons {
    background-color: lightblue;
    border: solid 0;
    border-radius: 20px;
    color: #262626;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 1.2em;
    height: 200px;
    width: 350px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    //margin: 10px 20px;
    //padding: 10px;
    outline: none;
    vertical-align: top;
}
*/

.program-buttons {
    border: 0 solid;
    border-radius: 20px;
    position: relative;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 1.2em;
    height: 200px;
    width: 350px;
    outline: none;
    overflow: hidden;
    vertical-align: top;
}

.bg-image {
    border: 0 solid;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}

#program-1 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(../images/tutor-2.jpeg); 
}
#program-2 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(../images/tutor-4.jpg); 
}
#program-3 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../images/international-students.jpg); 
}
#program-4 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../images/garden.jpg); 
}
#program-5 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../images/tutor-1.jpg); 
}
#program-6 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../images/7.jpg); 
}
#program-7 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../images/vita.jpg); 
}

.program-buttons h3 {
/*    display: none; */
/*    visibility: hidden;*/
    position: absolute;
    top: 0;
    left: 0;
    /* increase width of block element to fit the parent's width, then we can use text align center */
    height: 100%;
    width: 100%;
    margin: 0;
    /* h3 has default margins, preventing it from fitting the parent div .program-buttons in the first place */
    /* center h3 element in the middle of parent div */
    display:flex;
    align-items: center;
    justify-content: center;
}

/*
.prog-desc h3 {
    border: solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
*/

.program-buttons:hover .bg-image {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*
.program-buttons:hover .prog-name {
    visibility: hidden;
}
.program-buttons:hover p {
    visibility: visible;
}
*/

.row-1 .program-buttons {
    margin: 25px 30px;
    padding: 10px;
}

.row-2 .program-buttons {
    margin: 25px 50px;
    padding: 10px;
}

.row-3 .program-buttons {
    margin: 25px 50px;
    padding: 10px;
}

/*
#program-2 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../images/tutor-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#program-2:hover {
    background-image: none;
    background-color: slategray;
}

#program-3 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../images/international-students.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#program-3:hover {
    background-image: none;
    background-color: slategray;
}


#program-4 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../images/garden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#program-4:hover {
    background-image: none;
    background-color: slategray;
}

#program-5 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../images/tutor-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#program-5:hover {
    background-image: none;
    background-color: slategray;
}


#program-6 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../images/7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#program-6:hover {
    background-image: none;
    background-color: slategray;
}


#program-7 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../images/vita.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#program-7:hover {
    background-image: none;
    background-color: slategray;
}
*/

/* Section: Blogs */

/* Dropdown Button */
.dropdown-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #262626;
    font-family: Georgia, serif;
    font-size: 1.2em;
    padding: 10px 0;
    outline: none;
}

.dropdown-button img {
    padding: 0;
    margin: 0;
}

/* Dropdown button on hover & focus */
/*.dropdown-button:hover, .dropdown-button:focus {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.40), 0 40px 80px 0 rgba(0,0,0,0.20);
}*/

/* The container <div> - needed to position the dropdown content */
#dropdown {
/*    border: solid;*/
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #262626;
    padding: 12px 50px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #F1F1F1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

/* Section: Footer */

.footer p {
    text-align: center;
}